body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  margin: 5px;
  padding: 2px;
}

.content {
  background: #e3f4ff;
  margin: 5px;
  padding: 2px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 32px;
  margin: 5px;
}

button {
  background: white;
  
}